<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ site.github.url }}/">VoiceStorm Demos</a>
    </div>

    <div id="navbar" class="navbar-collapse collapse">          
      <ul class="nav navbar-nav">
        <li><a href="{{ site.github.url }}/">Home</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Examples <span class="caret"></span></a>
          <ul class="dropdown-menu">      

            <li class="dropdown-header">Basic Examples</li>
            <li><a href="{{ site.github.url }}/examples/post-grid">Post Grid</a></li>
            <!-- <li><a href="#">Leaderboard</a></li> -->

            <li role="separator" class="divider"></li>
            <li class="dropdown-header">Additional Examples</li>
            <li><a href="{{ site.github.url }}/examples/react-leaderboard">React Leaderboard</a></li>
          </ul>
        </li>
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ site.api_docs }}" target="_blank">API Reference</a></li>
        <li><a href="{{ site.github_repo }}" target="_blank">GitHub Repo</a></li>
      </ul>
    </div>

  </div>
</nav>